<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sifang.mapper.NumberMessageMapper">

    <select id="getNumerMessageList" resultType="NumberMessage">
        select * from number_manage
    </select>

    <insert id="addNumberMessage" parameterType="NumberMessage">
        insert into
            number_manage (dept,doctor_num,remain,number_date,time_interval,start_time,end_time,place,fee,total,status)
        values (#{dept},#{doctorNum},#{remain},#{numberDate},#{timeInterval},#{startTime},#{endTime},#{place},#{fee},#{total},#{status})
    </insert>

    <select id="getNumberByDept" resultType="NumberMessage">
        select * from number_manage where dept = #{dept} and number_date=#{numberDate}
    </select>

    <select id="getNumberListByDocDate" resultType="NumberMessage">
        select * from number_manage where doctor_num = #{doctorNum} and number_date &gt;= #{numberDate}
    </select>

    <select id="getNumberByDoctor" resultType="NumberMessage">
        select *
        from number_manage
        where doctor_num = #{doctorNum};
    </select>

    <update id="updateNumberById" parameterType="NumberMessage">
        update number_manage
        set dept=#{dept}, doctor_num=#{doctorNum},remain=#{remain},
            number_date=#{numberDate},time_interval=#{timeInterval},
            start_time=#{startTime},end_time=#{endTime},place=#{place},
            fee=#{fee},total=#{total},status=#{status}
        where id=#{id}
    </update>

    <delete id="deleteNumberById" parameterType="int">
        delete from number_manage where id=#{id}
    </delete>

    <select id="searchNumber" resultType="NumberMessage">
        select * from number_manage where doctor_num=#{doctorNum} and number_date=#{numberDate}
    </select>

    <select id="getNumberById" resultType="NumberMessage" parameterType="int">
        select * from number_manage where id = #{id}
    </select>

    <update id="order" parameterType="int">
        update number_manage set remain = remain - 1 where id = #{id}
    </update>

    <update id="setStatus" parameterType="int">
        update number_manage set status = #{status} where id = #{numberId}
    </update>
</mapper>