<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sifang.mapper.RolePermissionMapper">
    <insert id="add" parameterType="RolePermission">
        insert into role_permission(role_id, permission_id)
        values(#{roleId}, #{permissionId})
    </insert>

    <select id="getByRole" resultType="RolePermission">
        select * from role_permission where role_id=#{roleId}
    </select>
</mapper>
